/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

grant {
  // For Spring IOC
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.RuntimePermission "defineClass";
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.RuntimePermission "accessUserInformation";
  permission java.net.NetPermission "getProxySelector";
  permission java.net.SocketPermission "*", "accept,connect,resolve";

  permission java.util.PropertyPermission "*","read,write";

  // ml-commons client
  permission java.lang.RuntimePermission "setContextClassLoader";

  // aws credentials
  permission java.io.FilePermission "${user.home}${/}.aws${/}*", "read";

  // Permissions for aws emr servless sdk
  permission javax.management.MBeanServerPermission "createMBeanServer";
  permission javax.management.MBeanServerPermission "findMBeanServer";
  permission javax.management.MBeanPermission "com.amazonaws.metrics.*", "*";
  permission javax.management.MBeanTrustPermission "register";
};

grant codeBase "/Users/xinyual/.gradle/caches/modules-2/files-2.1/org.apache.calcite/calcite-core/1.38.0/f064c5304c5c24ff3387c4659d1a6e48f2757278/calcite-core-1.38.0.jar" {
    permission java.lang.RuntimePermission "getClassLoader";
};
